@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

body {
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

#Form1 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #a8a8a8;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 94%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0055aa;
}

h1 {
  text-align: center;
  color: #3f3f3f;
}

.imgupb {
  width: 12%;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

label[for="name"],
label[for="email"] {
  color: rgb(105, 105, 105);
}
